<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Butler</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link rel="stylesheet" href="./under-maintance.component.scss" />
  </head>

  <body>
    <img
      src="../../../../assets/under_maintenance/img/butler.png"
      alt="Butler Logo"
      class="logo"
    />
    <!-- Navigation Bar -->
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <div class="underline"></div>
    </nav>
  </body>
</html>
