<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <div class="row match-height">
            <div class="col-lg-12 col-12">
                <div class="card card-statistics">
                    <div class="card-header">
                        <h4 class="card-title">Insights</h4>
                    </div>
                    <div class="card-body statistics-body">
                        <div class="row match-height">

                            <div class="col-lg-12 col-md-12 col-12">
                                <app-freelancers-onboarding-onsight [title]="'Clients & Designers'"
                                                                    ></app-freelancers-onboarding-onsight>
                            </div>
                        </div>
                        <div class="row match-height">
                            <div class="col-lg-12 col-md-12 col-12">
                                <app-skill-trends></app-skill-trends>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row match-height">

            <div class="col-lg-12 col-12">
                <app-recent-order></app-recent-order>
            </div>

        </div>

    </div>
</div>
