<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center">
                        Show
                        <select
                                class="form-control mx-25"
                                (change)="handlePageLimit()" [(ngModel)]="pageSize"
                        >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        records
                    </label>
                </div>
            </div>


            <div class="col-md-6 col-12 d-flex justify-content-md-end">

                <div
                        class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0"
                >

                    <label class="d-flex align-items-center">
                        Search<input
                            type="search"
                            placeholder="Search"
                            class="form-control ml-25"
                            (keyup)="searchReviews($event)"
                            (search)="searchReviews($event)"
                    />
                    </label>

                </div>
            </div>
        </div>

        <!-- DATATABLE START -->
        <section id="ngx-datatable-row-details" class="w-100">
            <ngx-datatable
                #tableRowDetails
                class="bootstrap core-bootstrap"
                [columnMode]="ColumnMode.force"
                [headerHeight]="40"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="pageSize"
                [rows]="itemSource"
                [scrollbarH]="true"
                [externalPaging]="true"
                [count]="itemSource.length"
                [offset]="offset"
                (page)="setPage($event)"
            >
                <ngx-datatable-column
                        name="job Title"
                        prop="jobTitle"
                        [width]="150"
                >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="font-weight-bolder">
                                    {{ row?.jobTitle }}
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <!--<ngx-datatable-column name="Phone Number" prop="primary_phone" [width]="160"></ngx-datatable-column>-->
                <!-- EMAIL COLUMN -->
                <ngx-datatable-column
                        name="Client"
                        prop="clientName"
                        [width]="160"
                ></ngx-datatable-column>
                <!-- CITY COLUMN -->
                <ngx-datatable-column
                        name="Designer"
                        prop="designerName"
                        [width]="110"
                ></ngx-datatable-column>

                <!--<ngx-datatable-column name="Vehicle Type" prop="vehicle_type" [width]="135">
                    </ngx-datatable-column>-->
                <!-- REQUEST DATE COLUMN -->
                <ngx-datatable-column
                        name="Comments"
                        prop="comment"
                        [width]="120"
                >
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [width]="115" name="Actions">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="d-flex align-items-center">
                            <button
                                    (click)="navigateToDetailsView(row)"
                                    class="btn btn-outline-secondary btn-sm"
                                    rippleEffect
                                    type="button"
                            >
                                View Details
                            </button>

                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

        </section>
    </div>
</div>
