.acc-align{
  width: 100% !important;
  margin-left: -30px;
}
.mtl1030{
  margin-bottom: 10px;
  margin-left: 30px;
}
.btn-primary{
  background-color: #4a841f !important;
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
.m7{
  //margin: 7px !important;
}
.noCats{
  text-align: center;
  margin: 10%;
  font-size: x-large;
}
.loader{
  margin-top: 13%;
  margin-left: 49%;
  height: 60px;
  width: 60px;
}
.mat-tree-node {
   display: flex;
   align-items: center;
 }

.mat-icon {
  font-size: 16px;
  margin-left: 8px;
}
.mb4{
  margin-bottom: 4px;
}
