<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- <div class="mb-35-px"></div> -->
    <section class="vertical-wizard">
      <div id="stepper2" class="bs-stepper vertical vertical-wizard-example">
        <div class="bs-stepper-header pl">
          <div class="step" data-target="#account-details-vertical">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">1</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">User Account</span>
                <span class="bs-stepper-subtitle"
                  >Name: {{ selectedUser?.fullName }}</span
                >
              </span>
            </button>
          </div>
          <div class="step"  (click)="handleTabChange('jobs')" data-target="#personal-info-vertical">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">2</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Jobs</span>
              </span>
            </button>
          </div>
          <div class="step" (click)="handleTabChange('invoices')"  data-target="#invoices">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">3</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Invoices</span>
              </span>
            </button>
          </div>
          <!-- <div class="step" data-target="#social-links-vertical">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-box">4</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Legal Documents</span>
                                <span class="bs-stepper-subtitle">Documents</span>
                            </span>
                        </button>
                    </div> -->
        </div>

        <div class="bs-stepper-content container-height">
          <div id="account-details-vertical" class="content">
            <div class="content-header">
              <h5 class="mb-0">
                {{ selectedUser?.fullName }}
                <small *ngIf="selectedUser?.isProfileVerified"
                  ><i class="feather-20" data-feather="check-circle"></i
                ></small>

                <button
                  *ngIf="!selectedUser?.isProfileVerified"
                  (click)="toggleProfile(selectedUser)"
                  style="float: right"
                  class="btn btn-outline-secondary btn-prev"
                  rippleEffect
                >
                  <!-- <i class="align-middle mr-sm-25 mr-0"></i> -->
                  <span class="verify">Verify</span>
                </button>
                <button
                  *ngIf="selectedUser?.isProfileVerified"
                  (click)="toggleProfile(selectedUser)"
                  style="float: right"
                  class="btn btn-outline-secondary btn-prev"
                  rippleEffect
                >
                  <!-- <i class="align-middle mr-sm-25 mr-0"></i> -->
                  <span class="disprove">Disprove</span>
                </button>
              </h5>
              <small class="text-muted">
                Joining Date:
                {{
                  selectedUser?.createdAt | date: "dd MMM
                yyyy"
                }}</small
              >
              <br />
              <ngb-rating
                class="rating"
                [readonly]="true"
                [max]="5"
                [rate]="selectedUser.rating"
              ></ngb-rating>

              <!-- <small class="text-muted">Profile Picture</small> -->
            </div>

            <div class="row">
              <div class="form-group col-md-8">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="fullName">Full Name</label>
                    <input
                      type="text"
                      id="fullName"
                      disabled
                      value="{{ selectedUser?.fullName }}"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="clientId">Client ID</label>
                    <input
                      type="text"
                      id="clientId"
                      disabled
                      value="{{ selectedUser?._id }}"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="phone">Phone Number</label>
                    <input
                      type="text"
                      id="phone"
                      value="{{ selectedUser?.phone }}"
                      (blur)="changeHandler($event,'email')"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="email">Email</label>
                    <input
                      type="text"
                      id="email"
                      value="{{ selectedUser?.email }}"
                      (blur)="changeHandler($event,'email')"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label class="form-label" for="address">Address</label>
                    <input
                      type="text-area"
                      disabled
                      id="address"
                      value="{{ selectedUser?.address }}"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="country">Country</label>
                    <input
                      type="text"
                      disabled
                      id="country"
                      value="{{ selectedUser?.country }}"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="heardFrom">Lead From</label>
                    <input
                      type="text"
                      disabled
                      id="heardFrom"
                      value="{{ selectedUser?.heardFrom }}"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

            </div>
            <div class="d-flex ">
              <button
                (click)="backLink()"
                class="btn btn-outline-secondary btn-prev"
                rippleEffect
              >
                <i
                  data-feather="arrow-left"
                  class="align-middle mr-sm-25 mr-0"
                ></i>
                <span class="align-middle d-sm-inline-block"
                  >Back To Listing</span
                >
              </button>

            <button
                    (click)="updateClient()"
                    class="btn btn-outline-success btn-prev ml-3"
                    rippleEffect
            >
              <i data-feather="check"
                 class="align-middle mr-sm-25 mr-0"
              ></i>
              <span class="align-middle d-sm-inline-block"
              >Update Client</span
              >
            </button>
          </div>

          <div id="personal-info-vertical" class="content">
            <div class="content-header">
              <div class="row">
                <div class="col">
                  <h5 class="mb-0">Job Details</h5>
                </div>
              </div>
            </div>
            <section id="ngx-datatable-row-details">
              <ngx-datatable
                #tableRowDetails
                class="bootstrap core-bootstrap"
                [columnMode]="ColumnMode.force"
                [headerHeight]="40"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="pageSize"
                [rows]="jobs"
                [scrollbarH]="true"
                [externalPaging]="true"
                [count]="totalJobs"
                [offset]="offset"
                (page)="setPage($event, 'jobs')"
              >
                <ngx-datatable-column name="title" prop="title" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="font-weight-bolder">{{ row?.title }}</div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Freelancer" [width]="120">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="font-weight-bolder">
                          {{ row?.assignedTo?.name }}
                        </div>
                        <div class="font-small-2 text-muted">
                          {{ row.assignedTo?.email }}
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="created at"
                  prop="drop_off_loc"
                  [width]="100"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="font-weight-bolder">
                          {{ row?.createdAt | date: "dd MMM yyyy" }}
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <!--<ngx-datatable-column name="Completed_Date" prop="drop_off_loc" [width]="100"></ngx-datatable-column>-->
                <ngx-datatable-column
                  name="expected closing"
                  prop="drop_off_loc"
                  [width]="100"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="font-weight-bolder">
                          {{ row?.endDate | date: "dd MMM yyyy" }}
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Price" [width]="75">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="font-weight-bolder">
                          {{ row?.price | currency }}
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

              <div *ngIf="loading" class="loader">
                <div
                  class="spinner-border mr-50"
                  style="width: 3rem; height: 3rem"
                  role="status"
                ></div>
              </div>
              <div *ngIf="loader" class="loader-div">
                <div class="loading-spinner">
                  <div class="loader">
                    <div class="spinner-border mr-50" role="status"></div>
                  </div>
                </div>
              </div>
            </section>
            <div class="d-flex justify-content-between">
              <button
                (click)="backLink()"
                class="btn btn-outline-secondary btn-prev"
                rippleEffect
              >
                <i
                  data-feather="arrow-left"
                  class="align-middle mr-sm-25 mr-0"
                ></i>
                <span class="align-middle d-sm-inline-block"
                  >Back To Listing</span
                >
              </button>

              <div></div>
            </div>
          </div>

          <div id="invoices" class="content">
            <div class="content-header">
              <div class="row">
                <div class="col">
                  <h5 class="mb-0">Invoices</h5>
                </div>
              </div>
            </div>
            <section id="ngx-datatable-row-details">
              <ngx-datatable
                #tableRowDetails
                class="bootstrap core-bootstrap"
                [columnMode]="ColumnMode.force"
                [headerHeight]="40"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="pageSize"
                [rows]="invoices"
                [scrollbarH]="true"
                [externalPaging]="true"
                [count]="totalInvoices"
                [offset]="offset"
                (page)="setPage($event, 'invoices')"
              >
                <ngx-datatable-column
                  name="Customer"
                  prop="customer"
                  [width]="150"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="font-weight-bolder">
                          {{ row?.consumer[0].fullName }}
                        </div>
                        <div class="font-small-2 text-muted">
                          {{ row?.consumer[0].email }}
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="Amount Payable"
                  prop="amountPayable"
                  [width]="150"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="font-weight-bolder">
                          {{ row?.amountPayable }}
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="Invoice date"
                  prop="drop_off_loc"
                  [width]="100"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="font-weight-bolder">
                          {{ row?.invoiceDate | date: "dd MMM yyyy" }}
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="Due Date"
                  prop="drop_off_loc"
                  [width]="100"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="font-weight-bolder">
                          {{ row?.dueDate | date: "dd MMM yyyy" }}
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" prop="status" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="font-weight-bolder">

                          {{ row?.status  }}
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" [width]="75">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div class="d-flex align-items-center">
                      <a (click)="viewInvoice(row._id)">
                        <i data-feather="eye" class="mr-0 mr-sm-1"></i>
                      </a>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <div *ngIf="loader" class="loader-div">
                <div class="loading-spinner">
                  <div class="loader">
                    <div class="spinner-border mr-50" role="status"></div>
                  </div>
                </div>
              </div>
            </section>

            <div class="d-flex justify-content-between">
              <button
                (click)="backLink()"
                class="btn btn-outline-secondary btn-prev"
                rippleEffect
              >
                <i
                  data-feather="arrow-left"
                  class="align-middle mr-sm-25 mr-0"
                ></i>
                <span class="align-middle d-sm-inline-block"
                  >Back To Listing</span
                >
              </button>

              <div></div>
            </div>
          </div>

          <!-- <div id="social-links-vertical" class="content ">
                        <div class="content-header">
                            <h5 class="mb-0">Legal Documents</h5>
                            <small>Freelancer License</small>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2"></div>
                            <div class="form-group col-md-4">
                                <label class="form-label" for="vertical-address">License Front Side</label>
                                <div (click)="openImageModal(modalSM,selectedUser.freelancer_license_front)"
                                    class="picture-box"
                                    [ngStyle]="{'background-image':'url('+ [selectedUser?.freelancer_license_front] +')'}">

                                </div>
                            </div>

                            <div class="form-group col-md-2"></div>
                        </div>
                        <div class="row">

                        </div>
                        <div class="d-flex justify-content-between">

                            <a routerLink="{{backLink}}">
                                <button class="btn btn-outline-secondary btn-prev" disabled rippleEffect>
                                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                    <span class="align-middle d-sm-inline-block d-none">Back To Listing</span>
                                </button>
                            </a>
                            <div>

                                <button *ngIf="selectedUser.status!='approved'"
                                    (click)="freelancerStatusForUpdate='approved';modalOpenForm(modalForm)"
                                    class="btn btn-outline-success mr-1" rippleEffect>Approve</button>

                                <button *ngIf="selectedUser.status!='rejected'"
                                    (click)="freelancerStatusForUpdate='rejected';modalOpenForm(modalForm)"
                                    class="btn btn-outline-warning mr-1" rippleEffect>Decline</button>

                                <button *ngIf="selectedUser.status=='approved' || selectedUser.status=='rejected'"
                                    (click)="freelancerStatusForUpdate='blocked';modalOpenForm(modalForm)"
                                    class="btn btn-outline-danger mr-1" rippleEffect>Block</button>

                                <button *ngIf="selectedUser.status=='blocked'"
                                    (click)="freelancerStatusForUpdate='pending';modalOpenForm(modalForm)"
                                    class="btn btn-outline-danger mr-1" rippleEffect>UnBlock</button>

                            </div>
                        </div>
                    </div> -->
        </div>
      </div>
      </div>
    </section>
  </div>
</div>
<ng-template #modalSM let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Designer Legal Documents</h5>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <!-- some text here  -->
    <swiper
      class="swiper-progress swiper-container"
      [config]="swiperProgress"
      [(index)]="index"
    >
      <img
        class="img-fluid"
        id="selected-image"
        src="{{ selectedImage }}"
        alt="banner"
      />
    </swiper>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="rotateTheImage()">
      Rotate
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Accept click')"
    >
      Close
    </button>
  </div>
</ng-template>

<div class="login-form">
  <ng-template #modalForm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel1">
        Please add comments about your action.
      </h4>
      <button
        type="button"
        class="close"
        (click)="modal.dismiss('Cross click')"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <form action="#">
        <label> Write comments/notes (for future reference): </label>
        <div class="form-group">
          <textarea
            [disabled]="loader"
            [class.error]="commentsForFreelancerStatusUpdate == '' && submited"
            name="comment-area"
            id="comment-area"
            class="form-control"
            [(ngModel)]="commentsForFreelancerStatusUpdate"
            name="comment-area"
            rows="3"
            placeholder="Write your comments"
            [maxlength]="800"
          ></textarea>
        </div>
        <span
          *ngIf="commentsForFreelancerStatusUpdate == '' && submited"
          class="invalid-form"
        >
          <small class="form-text text-danger">This comment is required!</small>
        </span>
      </form>
    </div>
    <div class="loader" *ngIf="loader">
      <div
        class="spinner-border mr-50"
        style="width: 3rem; height: 3rem"
        role="status"
      ></div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="loader"
        (click)="updateFreelancerStatus()"
        rippleEffect
      >
        Done
      </button>
    </div>
  </ng-template>
</div>
